<html class="h-100">
<body class="d-flex flex-column h-100">
    <footer class="cointeiner-fluid bg-light mt-auto">
        <div class="row">
            <section class="col">
                Colonne 1
            </section>
            <section class="col">
                Colonne 2
            </section>
            <section class="col">
                Colonne 3
            </section>
        </div>
    </footer>
</body>
</html>